main {
	margin-top: 1rem;
}

.todos-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.todos-list li {
	margin-bottom: 0.75rem;
	display: flex;
	align-items: center;
}

.update-form {
	display: flex;
	align-items: center;
	flex: 1;
}

.update-form:focus-within .button-update {
	display: inline-flex;
	align-items: center;
}

.circle {
	display: inline;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 0;
	background-color: white;
	margin: auto 5px auto 0;
}

.circle-fill {
	background-color: black;
	border: 2px solid white;
}

.todo-title {
	flex: 1;
	margin-left: 0.25em;
}

.button-update {
	display: none;
	font-size: 1rem;
	margin-left: 0.75em;
	height: 2em;
}

.button-delete {
	font-size: 1rem;
	padding: 0.5em 0.75em;
	margin-left: 0.5em;
}

.button-create {
	margin-top: 1rem;
}
